{% extends 'index.html' %}
{% load static %}
{% block content %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static  'css/uploadCsv.css' %}">
{% endblock extrahead %}
{% if messages %}
        {% for message in messages %}
        <div style="text-align: center; " class="alert alert-{% if message.tags == 'warning' %}warning {% else %}success{% endif %} fade show"
            role="alert">
            <strong style="color: black;">{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Upload csv with transaction data</h3>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputFile">Select your csv</label>
        <div class="input-group">
          <div class="custom-file">
                <input
                type="file"
                id="exampleInputFile"
                name="transactioncsv"
                />
            </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Accept</button>
    </div>
  </form>
</div>

{% endblock content %}